%% minimal tty
[
    {ngrmsmt,
        [
            {owner, "w-495"},

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% ТЕКСТОВОЙ МОДЕЛИ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'char per line max count', 256},
                %% При чтении из файлов корпусов строки будут обрезаться
                %% до этой величины в символах.
                %%
                %% Cредняя длинна слова в русском языке 5.28 символов.
                %% Cредняя длинна предложения --- 10.38 символов.
                %% Для английского эти цифры будут меньше.
                %% Далее мы будем рассматривать предложения короче 40 слов.
                %% MAX = 40 * 5.28. = 211.20000000000002 < 256.
                %%

            {'words per line max count', 40},
                %% При чтении из файлов корпусов строки будут обрезаться
                %% до этой величины в словах (cредняя длинна предложения
                %% в русском языке 10.38 слов).

            {'words separator sring', " "},
                %% Разделитель слов.
                %% По умолчанию, считаем словом любую последовательность
                %% символов между пробелами.

            {'ngram size', 5},
                %% Размер n-грамм.

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ЭКОНОМИИ ПАМЯТИ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'memory limit parallel', 200},
                %% При привышении  переходим в последовательный режим работы
            {'memory limit parallel ngrams', 750},
                %% При привышении меняем режим разбивки на n-граммы
            {'reader worker sentences buffer size', 100},
                %% Размер буфера для обработки предложений (в предложениях)

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ПРОЦЕССОВ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'reader command timeout',  5000},
                %% через какое время переставать слушать,
                %% если не было управляющего сигнала
            {'reader read timeout',     100},
                %% через какое время считывать строки файла,
                %% если не было явного указания
            {'reader worker timeout',   5000},
                %% через какое время переставать слушать,
                %% если не было управляющего сигнала

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ БАЗЫ ДАННЫХ REDIS
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'model db',            1},
                %% номер базы данных redis
            {'reverse index db',    2},
                %% номер базы данных redis

            {log_level, info}%,
        ]
    },
    {kernel,
        [
            {start_pg2, true}%,
        ]
    }%,
].
