%% =========================================================================
%%
%% Конфигурационный файл приложения.
%% Настроики считываются при старте.
%%
%% =========================================================================
[
    {ngrmsmt,
        [
            {'owner', "w-495"},

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ОБУЧАЮЩЕЙ МОДЕЛИ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'corpora', {"priv/data/simple.en", "priv/data/simple.ru"}},

            % {'corpora', {"priv/data/h-10-un.en", "priv/data/h-10-un.ru"}},
            % {'corpora', {"priv/data/knuth.en", "priv/data/knuth.ru"}},
            % {'corpora', {"priv/data/h-100-un.en", "priv/data/h-100-un.ru"}},
            % {'corpora', {"priv/data/h-1000-un.en", "priv/data/h-1000-un.ru"}},
            % {'corpora', {"priv/data/h-10000-un.en", "priv/data/h-10000-un.ru"}},

                %% Корпуса текста, на которых проходит обучение.

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ТЕКСТОВОЙ МОДЕЛИ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'char per line max count', 256},
                %% При чтении из файлов корпусов строки будут обрезаться
                %% до этой величины в символах.
                %%
                %% Cредняя длинна слова в русском языке 5.28 символов.
                %% Cредняя длинна предложения --- 10.38 символов.
                %% Для английского эти цифры будут меньше.
                %% Далее мы будем рассматривать предложения короче 40 слов.
                %% MAX = 40 * 5.28. = 211.20000000000002 < 256.
                %%
            {'words per line max count', 40},
                %% При чтении из файлов корпусов строки будут обрезаться
                %% до этой величины в словах (cредняя длинна предложения
                %% в русском языке 10.38 слов).
            {'words separator sring', " «»~—!@#$%^&*()[]{}1234567890_-+=<>,.:;\\/\""}, %"
                %% Разделитель слов.
                %% {'words separator sring', " "}, % 
                %% По умолчанию, считаем словом любую последовательность
                %% символов между пробелами.
            {'ngram size', 5},
                %% Размер n-грамм.

            {'ngram diagonal offset', 2},
                %% Смещение диагоналей декартова произведения n-грамм
                %% от центральной диагонали.

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ МОДЕЛИ ПЕРЕВОДА
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'model table t(e|f) norma',    0.5},
                %% Начальное значение ячеек таблицы t(e|f).
                %% 5.0e-324 --- math:pow(2, -1074)
                %% машинное эпсилон
            {'model table default',         0.0},
                %% Начальное значение остальных таблиц.
            {'model iter steps',            10},
                %% Количество итераций
            {'model crop limit',            0.0}, % 0.05 = 5\%
                %% Пороговая вероятность попадания в базу.
                %% Чем меньше порог, тем больше фраз попадет в базу.

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ЭКОНОМИИ ПАМЯТИ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'memory limit parallel', 0}, %200
                %% При привышении  переходим в последовательный режим работы
                %% Равен 0 если не хотим параллелиться вообще.

            {'memory limit parallel ngrams', 750},
                %% При привышении меняем режим разбивки на n-граммы

            {'reader worker sentences buffer size', 5},
                %% Размер буфера для обработки предложений (в предложениях)

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ ПРОЦЕССОВ
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'reader command timeout',  5000},
                %% через какое время переставать слушать,
                %% если не было управляющего сигнала
            {'reader read timeout',     100},
                %% через какое время считывать строки файла,
                %% если не было явного указания
            {'reader worker timeout',   5000},
                %% через какое время переставать слушать,
                %% если не было управляющего сигнала

            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
            %%%% НАСТРОЙКИ БАЗЫ ДАННЫХ REDIS
            %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

            {'model db',            1},
                %% номер базы данных redis
            {'reverse index db',    2},
                %% номер базы данных redis

            {log_level, info}%,
        ]
    },
    {sasl, [
        {sasl_error_logger, false},
        {error_logger_mf_dir, "priv/logs"},
        {error_logger_mf_maxbytes, 1024},
        {error_logger_mf_maxfiles, 10}
    ]},
    {kernel,
        [
            {start_pg2, true}%,
        ]
    }%,
].
